body{
    /* background-color: black; */
    color: white;
    margin: 0;
}

/* This allows you to be able to position html elements starting from the top left instead of displaying as block under p5.js canvas */
#html-body{
    position: absolute;
    top: 0;
    left: 0;
}

.flower{
    transition: all .2s ease-in-out;
}

.flower:hover{
    transform: scale(1.1);
}