body{
    /* background-color: #DCD1C6; */
    /* mix-blend-mode: screen;
    background-image: url("images/grainbackground.png"); /* The image used */
    /* height: 1200px; /* You must set a specified height */
    /* background-position: center; Center the image */
    /* background-repeat: no-repeat; Do not repeat the image */
    /* background-size: cover; Resize the background image to cover the entire container */
      /* color: #DCD1C6; */
      margin: 0;
  }
  
  /* mix-blend-mode: screen;
  background-image: url("images/grainbackground.png"); /* The image used */
  /* height: 1200px; /* You must set a specified height */
  /* background-position: center; /* Center the image */
  /* background-repeat: no-repeat; /* Do not repeat the image */
  /* background-size: cover; /* Resize the background image to cover the entire container */
  /* z-index: 0; */ 
 

  /* This allows you to be able to position html elements starting from the top left instead of displaying as block under p5.js canvas */
  #html-body{
      position: absolute;
      top: 0;
      left: 0;
  }
  
  
  /* hover function */
  .item{
      transition: all .2s ease-in-out;
      position: absolute;
      mix-blend-mode: luminosity;
  }
  
  .item:hover{
      transform: scale(1.1);
      mix-blend-mode:multiply;
  }