body{
    /* background-color: black; */
    color: black;
    margin: 0;
}

/* This allows you to be able to position html elements starting from the top left instead of displaying as block under p5.js canvas */
#html-body{
    position: absolute;
    top: 0;
    left: 0;
}

 .offer{
    border: black 1px solid;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 600;
    left: 800;
} 

 #bear{
    display: none;
    z-index: 2;
} 